<h2>My Tasks</h2>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%# <% valueTask = task.completed ? 1:0 %>
      <%# <%= check_box_tag :task, value=valueTask %> %> %>
      <%= task.title %>
    </li>
  <% end %>
</ul>
