<div class="container title">
  <h2>New Task</h2>
</div>


<div class="container form">
  <%= render "form", restaurant: @task %>
</div>

<div class="container button-index">
  <button class="btn btn-secondary">
    <%= link_to "back to all tasks", tasks_path %>
  </button>
</div>
